@model IT_product_log.Models.VpnRequest
@{
    ViewBag.Title = "VPNRequest";
}
<h2>VPN Request</h2>

<hr />

<script language="C#" runat="server">

    void Selection_Change(Object sender, EventArgs e)
    {
       Label1.Text = "The selected date is " + Calendar1.SelectedDate.ToShortDateString();
    }

</script>


<b>@Html.ValidationSummary("", new { @class = "text-danger" })</b>


<body>
    <div class="form-horizontal">

        @using (Html.BeginForm())
        {
            <table cellpadding="12" cellspacing="0" style="text-align:left">
                <tr>
                    <td><b>VPN Requestor</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_requestor) </td>
                </tr>
                <tr>
                    <td><b>VPN First name</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientFirst) </td>
                </tr>
                <tr>
                    <td><b>VPN Last name </b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientLast) </td>
                </tr>
                <tr>
                    <td><b>User Status Type</b></td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.vpnStatusType)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>User Department</b></td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.deptName)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>User Code</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_userCode) </td>
                </tr>
                <tr>
                    <td><b>Work Phone</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.Work_Phone) </td>
                </tr>
                <tr>
                    <td><b>Recipent Email</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientEmail) </td>
                </tr>
                <tr>
                    <td><b>Company Name</b></td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.companyName)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>OFfice Location</b></td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.officeLoc)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><b>Machine Owner</b></td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.machineOwner)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>Systems List</b></td>
                    <td>@Html.TextAreaFor(vpnrequest => vpnrequest.Systems_List, 7, 30, null) </td>
                </tr>
                <tr>
                    <td><b>VPN Justification</b></td>
                    <td> @Html.TextAreaFor(vpnrequest => vpnrequest.VPN_justification, 7, 30, null) </td>
                </tr>
                <tr>
                    <td><b>Manager</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.Manager) </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit Form" /> </td>
                </tr>
          
            </table>

        }

    </div>
</body>


@Html.ActionLink("Back to List", "ViewInventory")
