@model IT_product_log.Models.VpnRequest
@{
    ViewBag.Title = "VPNRequest";
}
<h2>VPN Request</h2>

<hr />


<b>@Html.ValidationSummary("", new { @class = "text-danger" })</b>


<body>
    <div class="form-horizontal">

        @using (Html.BeginForm())
        {
            <table cellpadding="12" cellspacing="0" style="text-align:left">
                <tr>
                    <td><b>VPN Requestor</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_requestor) </td>
                </tr>
                <tr>
                    <td><b>VPN Full Name</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientFirst, new { placeholder = Html.DisplayNameFor(n => n.VPN_recipientFirst) }) 
                    @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientLast, new { placeholder = Html.DisplayNameFor(n => n.VPN_recipientLast) }) </td>
                </tr>
                <tr>
                    <td><b>User Status Type</b></td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.vpnStatusType)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>User Department</b></td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.deptName)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>User Code</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_userCode, new { placeholder = Html.DisplayNameFor(n => n.VPN_userCode) }) </td>
                </tr>
                <tr>
                    <td><b>Work Phone</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.Work_Phone, new { placeholder = Html.DisplayNameFor(vpnrequest => vpnrequest.Work_Phone) }) </td>
                </tr>
                <tr>
                    <td><b>Recipent Email</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientEmail, new { placeholder = Html.DisplayNameFor(n => n.VPN_recipientEmail) }) </td>
                </tr>
                <tr>
                    <td><b>Company Name</b></td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.companyName)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>OFfice Location</b></td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.officeLoc)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><b>Machine Owner</b></td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.machineOwner)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>VPN Start Date</b> </td>
                    <td><input type="text" id="datepicker"></td>
                </tr>
                <tr>
                    <td><b>VPN End Date</b> </td>
                    <td><input type="text" id="datepicker"></td>
                </tr>
                <tr>
                    <td><b>Systems List</b></td>
                    <td>@Html.TextAreaFor(vpnrequest => vpnrequest.Systems_List, 7, 30, new { placeholder = Html.DisplayNameFor(n => n.Systems_List) }) </td>
                </tr>
                <tr>
                    <td><b>VPN Justification</b></td>
                    <td> @Html.TextAreaFor(vpnrequest => vpnrequest.VPN_justification, 7, 30, new { placeholder = Html.DisplayNameFor(n => n.VPN_justification) }) </td>
                </tr>
                <tr>
                    <td><b>Manager</b></td>
                    <td> @Html.TextBoxFor(vpnrequest => vpnrequest.Manager) </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit Form" /> </td>
                </tr>



            </table>

        }

    </div>
</body>


@Html.ActionLink("Back to List", "ViewInventory")
