@model IT_product_log.Models.VpnRequest
@{
    ViewBag.Title = "VPNRequest";
}
<h2>VPN Request</h2>

<hr />


<b>@Html.ValidationSummary("", new { @class = "text-danger" })</b>

<div class="form-horizontal">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "VPNForm" }))
    {
        <table cellpadding="12" cellspacing="0" style="text-align:left">
            <tr>
                <td>
                @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_requestor, new { style = "display: none;" })
                </td>
            </tr>
            <tr>
                <td>
                    <b>VPN Recipients First Name</b>
                    <br>
                    @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientFirst, new { placeholder = Html.DisplayNameFor(n => n.VPN_recipientFirst) })
                </td>
                <td>
                    <b>VPN Recipients Last Name</b>
                    <br>
                    @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientLast, new { placeholder = Html.DisplayNameFor(n => n.VPN_recipientLast) })
                </td>
            </tr>
            <tr>
                <td>
                    <b>User Department</b>
                    <br>
                    <select name="category" id="dept">
                        @foreach (var item in ViewBag.deptName)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_userDept, new { style = "display: none;" })
                </td>
                <td>
                    <b>Machine Owner</b>
                    <br>
                    <select name="category" id="owner">
                        @foreach (var item in ViewBag.machineOwner)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    @Html.TextBoxFor(vpnrequest => vpnrequest.Machine_Owner, new { style = "display: none;" })

                </td>
            </tr>

            <tr>
                <td><b>User Code</b>
                <br>
                @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_userCode, new { placeholder = Html.DisplayNameFor(n => n.VPN_userCode) }) </td>
                <td>
                    <b>User Status Type</b>
                    <br>
                    <select name="category" id="status">
                        @foreach (var item in ViewBag.vpnStatusType)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_userStatus, new { style = "display: none;" })

                </td>
            </tr>
            <tr>
                <td><b>Work Phone</b>
                <br>
                @Html.TextBoxFor(vpnrequest => vpnrequest.Work_Phone, new { placeholder = Html.DisplayNameFor(vpnrequest => vpnrequest.Work_Phone) }) </td>

                <td><b>Recipent Email</b>
                <br> 
                @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientEmail, new { placeholder = Html.DisplayNameFor(n => n.VPN_recipientEmail) }) </td>
            </tr>
            <tr>
                <td>
                    <b>Company Name</b>
                    <br>
                    <select name="category" id="comp">
                        @foreach (var item in ViewBag.companyName)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
                <td>
                    <div id="compform" style="display: none;">
                        <b>Company Other</b>
                        <br>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.Company_Other)
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Office Location</b>
                <br>
                    <select name="category" id="location">
                        @foreach (var item in ViewBag.officeLoc)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    
                    @Html.TextBoxFor(vpnrequest => vpnrequest.Office_Location, new { style = "display: none;" })
                </td>
                <td>
                    <b>Office Address</b>
                    <br>
                    <select name="category" id="QTClocation" >
                        @foreach (var item in ViewBag.qtcOfficSelect)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    @Html.TextBoxFor(vpnrequest => vpnrequest.Office_Address, new { style = "display: none;" })
                
                </td>
            </tr>

            <tr>
                <td><b>VPN Start Date</b>
                <br>
                @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_accessStart)
                </td>

                <td><b>VPN End Date</b> 
                <br>
                @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_accessEnd)
                </td>
            </tr>
            <tr>
                <td><b>Systems List</b>
                <br>
                @Html.TextAreaFor(vpnrequest => vpnrequest.Systems_List, 7, 30, new { placeholder = Html.DisplayNameFor(n => n.Systems_List) })
                </td>

                <td><b>VPN Justification</b>
                <br>
                @Html.TextAreaFor(vpnrequest => vpnrequest.VPN_justification, 7, 30, new { placeholder = Html.DisplayNameFor(n => n.VPN_justification) }) 
                </td>
            </tr>
            <tr>
                <td><b>Manager</b>
                <br>
                @Html.TextBoxFor(vpnrequest => vpnrequest.Manager) </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit Form" /> </td>
            </tr>



        </table>

    }

</div>

<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

<script>
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });

    $("#VPNForm").validate({
        rules: {
            VPN_requestor: {
                required: true,
                rangelength: [2, 16]
            },
            VPN_recipientFirst: {
                required: true,
                rangelength: [2, 16]
            },
            VPN_recipientLast: {
                required: true,
                rangelength: [2, 16]
            },
            VPN_recipientFirst: {
                required: true,
                rangelength: [2, 16]
            },
            VPN_userCode: {
                required: true,
                number: true,
                rangelength: [3, 3]
            },
            Work_Phone: {
                required: true,
                phoneUS: true
            },
            VPN_recipientEmail: {
                required: true,
                email: true
            },
            Company_Other: {
                required: true,
            },
            Systems_List: {
                required: true,
                rangelength: [20, 200]
            },
            VPN_justification: {
                required: true,
                rangelength: [20, 200]
            },
            Manager: {
                required: true,
                rangelength: [2, 16]
            },
            VPN_accessEnd: {
                required: true,
                date: true
            },
            VPN_accessStart: {
                required: true,
                date: true
            }
        },

        messages: {
            VPN_requestor: {
                required: "Please enter requestors what?? Is this autofilled?",
                rangelength: "Length must be between 2 to 16 characters long."
            },
            VPN_recipientFirst: {
                required: "Please enter a First name.",
                rangelength: "Length must be between 2 to 16 characters long."
            },
            VPN_recipientLast: {
                required: "Please enter a last name.",
                rangelength: "Length must be between 2 to 16 characters long."
            },
            VPN_userCode: {
                required: "Please enter a user code.",
                number: "Please enter the correct user code.",
                rangelength: "Length must 3 numbers long."
            },
            Work_Phone: {
                required: "Please enter a phone number.",
                phoneUS: "Please enter a valid phone number."
            },
            VPN_recipientEmail: {
                required: "An email is required for the recipient.",
                email: "Please enter a valid email address."

            },
            Company_Other: {
                required: "Please fill this field."
            },
            Systems_List: {
                required: "Not sure what this is for kevin hellpp.",
                rangelength: "Length must be between 2 to 16 characters long."
            },
            VPN_justification: {
                required: "Justification must be provided.",
                rangelength: "Justification must be between 20 to 200 characters."
            },
            Manager: {
                required: "Please enter a managers what?",
                rangelength: "Length must be between 2 to 16 characters long."
            },
            VPN_accessEnd: {
                required: "Ending date is required.",
                date: "Please enter a valid date."
            },
            VPN_accessStart: {
                required: "Starting date is required.",
                date: "Please enter a valid date."
            }
        }
    });

    $(document).ready(function () {
        $('#comp').on('change', function () {
            if (this.value === 'Other') {
                $('#Company_Other').val("");
                $('#compform').show();
                $('#Company_Other-error').show();

            } else {
                $('#Company_Other-error').hide();
                $('#compform').hide();
                $('#Company_Other').val(this.value);

            }
        }),

        $("#status").on('change', function () {
            $('#VPN_userStatus').val(this.value);
        }),

        $("#location").on('change', function () {
            if (this.value === 'QTC Admin') {
                $('#Office_Location').val(this.value);
                $('#QTClocation').show();
                $('#Office_Address').hide();
                $('#Office_Address').val('');
            } else {
                $('#Office_Location').val(this.value);
                $('#QTClocation').hide();
                $('#Office_Address').val('');
                $('#Office_Address').show();
            }
        }),

        $("#QTClocation").on('change', function () {
            $('#Office_Address').val(this.value);
        }),

        $("#owner").on('change', function () {
            $('#Machine_Owner').val(this.value);
        }),

        $("#dept").on('change', function () {
            $('#VPN_userDept').val(this.value);
        })

        $(function () {
            $("#VPN_accessStart").datepicker();
        });

        $(function () {
            $("#VPN_accessEnd").datepicker();
        });

    });
</script>


@Html.ActionLink("Back to Portal", "../Portal/SystemAccess")

