@model IT_product_log.Models.VpnRequest
@{
    ViewBag.Title = "VPNRequest";
}
<h2>VPN Request Form</h2>
<h6>Please fill out ALL * mandatory fields below. </h6>
<h6>(*** Note: INCOMPLETE or Insufficient Forms WILL BE RETURNED or REJECTED ***)</h6>

<b>@Html.ValidationSummary("", new { @class = "text-danger" })</b>
<div class="form-horizontal">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "VPNForm"}))
    {

        @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_requestor, new { @style = "display: none;",@class = "VPNForm" })
        <fieldset>
            <legend class="aws">
                <h4><b>Recipients Name</b></h4>
            </legend>
            <table>
                <tr>
                    <td class="form">
                        <h5>First Name <span>*</span></h5>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientFirst, new { placeholder = Html.DisplayNameFor(n => n.VPN_recipientFirst) })
                    </td>
                    <td class="form">
                        <h5>Last Name <span>*</span></h5>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientLast, new { placeholder = Html.DisplayNameFor(n => n.VPN_recipientLast) })
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend class="aws">
                <h4><b>Recipients Contact Information</b></h4>
            </legend>
            <table>
                <tr>
                    <td class="form">
                        <h5>Work Phone <span>*</span></h5>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.Work_Phone, new { placeholder = Html.DisplayNameFor(vpnrequest => vpnrequest.Work_Phone) })
                    </td>
                    <td class="form">
                        <h5>Recipent Email <span>*</span></h5>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_recipientEmail, new { placeholder = Html.DisplayNameFor(n => n.VPN_recipientEmail) })
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend class="aws">
                <h4><b>VPN User Department Information</b></h4>
            </legend>
            <table>
                <tr>
                    <td class="form">
                        <h5>User Department <span>*</span></h5>
                        <select name="dept" id="dept">
                            @foreach (var item in ViewBag.deptName)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_userDept, new { style = "display: none;" })
                    </td>
                    <td class="form">
                        <h5>User Status Type <span>*</span></h5>
                        <select name="status" id="status">
                            @foreach (var item in ViewBag.vpnStatusType)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_userStatus, new { style = "display: none;" })
                    </td>
                </tr>
                <tr>
                    <td class="form">
                        <h5>User Code <span>*</span></h5>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_userCode, new { placeholder = Html.DisplayNameFor(n => n.VPN_userCode) })
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend class="aws">
                <h4><b>Company Information</b></h4>
            </legend>
            <table>
                <tr>
                    <td class="form">
                        <h5>Company Name <span>*</span></h5>
                        <select name="comp" id="comp">
                            @foreach (var item in ViewBag.companyName)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.Company_Name, new { style = "display: none;" })
                    </td>
                    <td class="form">
                        <div id="compform">
                            <h5>Company Other <span>*</span></h5>
                            @Html.TextBoxFor(vpnrequest => vpnrequest.Company_Other)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form">
                        <h5>Office Location <span>*</span></h5>
                        <select name="location" id="location">
                            @foreach (var item in ViewBag.officeLoc)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.Office_Location, new { style = "display: none;" })
                    </td>
                    <td class="form">
                        <h5>Office Address <span>*</span></h5>
                        <div name="QTCLoc" id="QTCLoc">
                            <select name="QTClocation" id="QTClocation">
                                @foreach (var item in ViewBag.qtcOfficSelect)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.Office_Address, new { style = "display: none;" })
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend class="aws">
                <h4><b>VPN Machine Information</b></h4>
            </legend>
            <table>

                <tr>
                    <td class="form">
                        <h5>Machine Owner <span>*</span></h5>
                        <select name="owner" id="owner">
                            @foreach (var item in ViewBag.machineOwner)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.Machine_Owner, new { style = "display: none;" })
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend class="aws">
                <h4><b>VPN System Access and Approval Section</b></h4>
            </legend>
            <table>
                <tr>
                    <td class="formtext">
                        <h5>Systems List <span>*</span></h5>
                        @Html.TextAreaFor(vpnrequest => vpnrequest.Systems_List, 7, 30, new { placeholder = Html.DisplayNameFor(n => n.Systems_List) })
                    </td>
                    <td class="formtext">
                        <h5>VPN Justification <span>*</span></h5>
                        @Html.TextAreaFor(vpnrequest => vpnrequest.VPN_justification, 7, 30, new { placeholder = Html.DisplayNameFor(n => n.VPN_justification) })
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend class="aws">
                <h4><b>Period for Requested Service Access</b></h4>
            </legend>
            <table>
                <tr>
                    <td class="form">
                        <h5>VPN Start Date <span>*</span></h5>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_accessStart)
                    </td>
                    <td class="form">
                        <h5>VPN End Date <span>*</span></h5>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.VPN_accessEnd)
                    </td>
            </table>
        </fieldset>
        <fieldset>
            <legend class="aws">
                <h4><b>Manager Information</b></h4>
            </legend>
            <table>
                <tr>
                    <td class="form">
                        <h5>Manager/Supervisor of VPN User <span>*</span></h5>
                        @Html.TextBoxFor(vpnrequest => vpnrequest.Manager)
                        <a class="btn btn-default center" href="#" id="get-data">Check</a>
                        <label class="error" id="Manager-error" for="Manager" style = "display: none;">Please enter a managers name.</label>
                    </td>
                    <td class="form">
                        <div id="show-data"></div>
                    </td>
            </table>
        </fieldset>
        <table>
            <tr>
                <td class="buttons2">
                    <a class="btn btn-default center" href="/Portal/Index/" id="cancel">Cancel</a>
                </td>
                <td class="buttons">
                    <input class="btn btn-default center" type="submit" value="Submit Form" name="submit" id="submit" />
                </td>
            </tr>
        </table>

    }
</div>
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<script>
    jQuery.validator.setDefaults({
        debug: false,
        success: "valid"
    });

    jQuery.validator.addMethod("greaterThan",
        function (value, element, params) {

            if (!/Invalid|NaN/.test(new Date(value))) {
                return new Date(value) > new Date($(params).val());
            }

            return isNaN(value) && isNaN($(params).val())
                || (Number(value) > Number($(params).val()));
        }, 'End date should be after start date.');


    $("#VPNForm").validate({
        rules: {
            VPN_requestor: {
                required: true,
                rangelength: [2, 16]
            },
            VPN_recipientFirst: {
                required: true,
                rangelength: [2, 16]
            },
            VPN_recipientLast: {
                required: true,
                rangelength: [2, 16]
            },
            VPN_recipientFirst: {
                required: true,
                rangelength: [2, 16]
            },
            VPN_userCode: {
                required: true,
                number: true,
                rangelength: [3, 3]
            },
            Work_Phone: {
                required: true,
                phoneUS: true
            },
            VPN_recipientEmail: {
                required: true,
                email: true
            },
            Company_Other: {
                required: true,
                rangelength: [4, 20]
            },
            Systems_List: {
                required: true,
                rangelength: [50, 200]
            },
            VPN_justification: {
                required: true,
                rangelength: [50, 200]
            },
            Manager: {
                required: true,
                rangelength: [2, 16]
            },
            Office_Address: {
                required: true,
                rangelength: [20, 40]
            },
            VPN_accessEnd: {
                required: true,
                date: true,
                greaterThan: "#VPN_accessStart",
            },
            VPN_accessStart: {
                required: true,
                date: true
            },
            owner: {
                required: true
            },
            dept: {
                required: true
            },
            status: {
                required: true
            },
            comp: {
                required: true
            },
            location: {
                required: true
            },
            QTClocation: {
                required: true
            }
        },

        messages: {
            VPN_requestor: {
                required: "Please enter requestors name.",
                rangelength: "Length must be between 2 to 16 characters."
            },
            VPN_recipientFirst: {
                required: "Please enter a First name.",
                rangelength: "Length must be between 2 to 16 characters."
            },
            VPN_recipientLast: {
                required: "Please enter a Last name.",
                rangelength: "Length must be between 2 to 16 characters."
            },
            VPN_userCode: {
                required: "Please enter a user code.",
                number: "Please enter the correct user code.",
                rangelength: "Length must 3 numbers long."
            },
            Work_Phone: {
                required: "Please enter a phone number.",
                phoneUS: "Please enter a valid phone number."
            },
            VPN_recipientEmail: {
                required: "An email is required for the recipient.",
                email: "Please enter a valid email address."
            },
            Office_Address: {
                required: "Please provide an address.",
                rangelength: "Must be between 20 to 40 characters."
            },
            Company_Other: {
                required: "Please fill in this field.",
                rangelength: "Must be between 4 to 20 characters."
            },
            Systems_List: {
                required: "Systems must be provided.",
                rangelength: "Must be between 50 to 200 characters."
            },
            VPN_justification: {
                required: "Justification must be provided.",
                rangelength: "Must be between 50 to 200 characters."
            },
            Manager: {
                required: "Please enter a managers name.",
                rangelength: "Length must be between 2 to 16 characters."
            },
            VPN_accessEnd: {
                required: "Ending date is required.",
                date: "Please enter a valid date."
            },
            VPN_accessStart: {
                required: "Starting date is required.",
                date: "Please enter a valid date."
            },
            owner: {
                required: "This field is required."
            },
            dept: {
                required: "User Dept is required."
            },
            status: {
                required: "User Status Type is required."
            },
            comp: {
                required: "Company name is required."
            },
            location: {
                required: "Office Location is required."
            },
            QTClocation: {
                required: "Please select an office."
            }
        }
    });

    $(document).ready(function () {
        $('#comp').on('change', function () {
            $('#Company_Name').val(this.value);
            if (this.value === 'Other') {
                $('#Company_Other').val("");
                $('#compform').show();
                $('#Company_Other-error').show();

            } else {
                $('#Company_Other-error').hide();
                $('#compform').hide();
                $('#Company_Other').val(this.value);

            }
        }),
        $('#get-data').click(function () {

            var showData = $('#show-data');
            var inputField = $('#Manager').val();
            console.log(inputField + "<--- is this correct????");
            $.getJSON('GetManager?id=' + inputField, function (data) {
                console.log(data);
                var items = data.items.map(function (item) {
                    return item.username + '\"> ' + item.firstname + ' ' + item.lastname;
                });


                showData.empty();
                //console.log('date from item.length = ' + itmes.length );
                if (items.length) {
                    //<option value="multiple">multiple</option>
                    var content = '<option value=\"\"></option><option value=\"' + items.join('</option><option value=\"') + '</option>';
                    var list = $('<select name="managerSelect" id="managerSelect" />').html(content);
                    showData.append('<h5>Select Manager from dropdown <span>*</span></h5>');
                    showData.append(list);

                } else {
                    showData.empty();
                    showData.append('<h5>No manager found</h5>').html();
                }
            });

            showData.text('<h5>Searching for manager</h5>');
        }),

        $('#show-data').click(function () {
            $('#managerSelect').on('change', function () {
                //console.log('hellothere');
                $('#Manager').val(this.value);
                $('#show-data').empty();
            });
        });

        $("#status").on('change', function () {
            $('#VPN_userStatus').val(this.value);
        }),

        $("#location").on('change', function () {
            if (this.value === 'QTC Admin') {
                $('#Office_Location').val(this.value);
                $('#QTCLoc').show();
                $('#Office_Address').hide();
                $('#Office_Address').val('');
            } else {
                $('#Office_Location').val(this.value);
                $('#QTCLoc').hide();
                $('#Office_Address').val('');
                $('#Office_Address').show();
            }
        }),

        $("#QTClocation").on('change', function () {
            $('#Office_Address').val(this.value);
        }),

        $("#owner").on('change', function () {
            $('#Machine_Owner').val(this.value);
        }),

        $("#dept").on('change', function () {
            $('#VPN_userDept').val(this.value);
        })

        $(function () {
            $("#VPN_accessStart").datepicker({
                minDate: 0,
                onSelect: function (dateText, inst) {
                    $("#VPN_accessEnd").datepicker("option", "minDate", $("#VPN_accessStart").datepicker("getDate"));
                }
            });
        });
        $("#VPN_accessEnd").datepicker();

    });

    $("#submit").click(function () {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
    });
</script>

@Html.ActionLink("Back to Portal", "../Portal/SystemAccess")
