@model IT_product_log.Models.VpnRequest

@{
    ViewBag.Title = "VPNRequestView";
}
<link rel="stylesheet" type="text/css" href="~/CSS/RequestStyle.css">

<script>
    $(document).ready(function () {

        //$(function () {
        //    $("a.req-status").each(function () {
        //        if ($(this).text() == "Approved") $(this).addClass("btn-success btn-block");
        //        else if ($(this).text() == "Denied") $(this).addClass("btn-danger btn-block");
        //        else $(this).addClass("btn-warning btn-block");
        //    });
        //});

        $("a.req-status:contains('Approved')").addClass("btn-success btn-block");
        $("a.req-status:contains('Pending')").addClass("btn-warning btn-block");
        $("a.req-status:contains('Rejected')").addClass("btn-danger btn-block");
    });
</script>

<div class="center fiftyPercent">
    <h1>My Request - @ViewBag.id</h1>
    <a href="#" style="font-size:medium;" class="btn bootstrap-button req-status">@ViewBag.details.VPN_requestStatus</a>
    <table>
        <tr>
            <!-- This should always be green as its the start-->
            <td><img src="~/images/Green.png" style="width:40px; height:40px;" /></td>

            <!-- This one is for tha Manager-->
            @if ( @ViewBag.details.VPN_requestStatus == "Approved"
                || @ViewBag.details.VPN_requestStatus == "Pending IT Manager Approval"
                || @ViewBag.details.VPN_requestStatus == "Pending Security Manager Approval"
                || @ViewBag.details.VPN_requestStatus == "Rejected by Security Manager"
                || @ViewBag.details.VPN_requestStatus == "Rejected by IT Manager")
            {
                <td><img src="~/images/Green.png" style="width:40px; height:40px;" /></td>
            }
            else
            {
                if ( @ViewBag.details.VPN_requestStatus == "Rejected by Manager")
                {
                    <td><img src="~/images/Red.png" style="width:40px; height:40px;" /></td>

                }
                else
                {
                    if (@ViewBag.details.VPN_requestStatus == "Pending Manager Approval")
                    {
                        <td><img src="~/images/Yellow.png" style="width:40px; height:40px;" /></td>

                    }
                    else
                    {
                        <td><img src="~/images/Grey.png" style="width:40px; height:40px;" /></td>
                    }
                }
            }

            <!-- This one is for Security Manager -->
            @if ( @ViewBag.details.VPN_requestStatus == "Approved" 
                || @ViewBag.details.VPN_requestStatus == "Pending IT Manager Approval" 
                || @ViewBag.details.VPN_requestStatus == "Rejected by IT Manager")
            {
                <td><img src="~/images/Green.png" style="width:40px; height:40px;" /></td>
            }
            else
            {
                if ( @ViewBag.details.VPN_requestStatus == "Rejected by Security Manager")
                {
                    <td><img src="~/images/Red.png" style="width:40px; height:40px;" /></td>

                }
                else
                {
                    if (@ViewBag.details.VPN_requestStatus == "Pending Security Manager Approval")
                    {
                        <td><img src="~/images/Yellow.png" style="width:40px; height:40px;" /></td>

                    }
                    else
                    {
                        <td><img src="~/images/Grey.png" style="width:40px; height:40px;" /></td>
                    }
                }
            }

            <!--This one is for IT Manager -->
            @if ( @ViewBag.details.VPN_requestStatus == "Approved")
            {
                <td><img src="~/images/Green.png" style="width:40px; height:40px;" /></td>
            }
            else
            {
                if ( @ViewBag.details.VPN_requestStatus == "Rejected by IT Manager")
                {
                    <td><img src="~/images/Red.png" style="width:40px; height:40px;" /></td>

                }
                else
                {
                    if (@ViewBag.details.VPN_requestStatus == "Pending IT Manager Approval")
                    {
                        <td><img src="~/images/Yellow.png" style="width:40px; height:40px;" /></td>

                    }
                    else
                    {
                        <td><img src="~/images/Grey.png" style="width:40px; height:40px;" /></td>
                    }
                }
            }
            <!-- this is the last one if accepted should be green-->
            @if (@ViewBag.details.VPN_requestStatus == "Approved")
            {
                <td><img src="~/images/Green.png" style="width:40px; height:40px;" /></td>
            }
            else
            {
                <td><img src="~/images/Grey.png" style="width:40px; height:40px;" /></td>
            }
        </tr>
    </table>
    <table>
        <tbody>
            <fieldset>
                <legend class="aws">
                    <h4><b>Recipients Name</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>First Name</h5>
                            <div class="requestText"> @ViewBag.details.VPN_recipientFirst </div>
                        </td>
                        <td class="form">
                            <h5>Last Name</h5>
                            <div class="requestText"> @ViewBag.details.VPN_recipientLast </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Recipients Contact Information</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>Work Phone</h5>
                            <div class="requestText"> @ViewBag.details.Work_Phone </div>
                        </td>
                        <td class="form">
                            <h5>Recipent Email</h5>
                            <div class="requestText"> @ViewBag.details.VPN_recipientEmail </div>
                        </td>
                    </tr>
                    @if (@ViewBag.details.Ext_code != 0)
                    {
                        <tr>
                            <td class="form">
                                <h5>Ext</h5>
                                <div class="requestText"> @ViewBag.details.Ext_code </div>
                            </td>
                        </tr>
                    }
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>VPN User Department Information</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>User Department</h5>
                            <div class="requestText"> @ViewBag.details.VPN_userDept </div>
                        </td>
                        <td class="form">
                            <h5>User Status Type</h5>
                            <div class="requestText"> @ViewBag.details.VPN_userStatus </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="form">
                            <h5>User Code</h5>
                            <div class="requestText"> @ViewBag.details.VPN_userCode </div>
                        </td>
                        @if (@ViewBag.details.VPN_userStatus != @ViewBag.details.Agency)
                        {
                            <td class="form">
                                <h5>Agency</h5>
                                <div class="requestText"> @ViewBag.details.Agency </div>
                            </td>
                        }

                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Company Information</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>Company Name</h5>
                            <div class="requestText"> @ViewBag.details.Company_Name </div>
                        </td>
                        @if (@ViewBag.details.Company_Name != @ViewBag.details.Company_Other)
                        {
                            <td class="form">
                                <div id="compform">
                                    <h5>Company Other</h5>
                                    <div class="requestText">
                                        @ViewBag.details.Company_Other
                                    </div>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="form">
                            <h5>Office Location</h5>
                            <div class="requestText"> @ViewBag.details.Office_Location </div>
                        </td>
                        <td class="form">
                            <h5>Office Address</h5>
                            <div class="requestText"> @ViewBag.details.Office_Address </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>VPN Machine Information</b></h4>
                </legend>
                <table>

                    <tr>
                        <td class="form">
                            <h5>Machine Owner</h5>
                            <div class="requestText"> @ViewBag.details.Machine_Owner </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>VPN System Access and Approval Section</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="formtext">
                            <h5>Systems List</h5>
                            <textarea id="nonform" disabled>@ViewBag.details.Systems_List</textarea>
                        </td>
                        <td class="formtext">
                            <h5>VPN Justification</h5>
                            <textarea id="nonform" disabled> @ViewBag.details.VPN_justification</textarea>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Period for Requested Service Access</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>VPN Start Date</h5>
                            <div class="requestText"> @ViewBag.details.VPN_accessStart </div>
                        </td>
                        <td class="form">
                            <h5>VPN End Date</h5>
                            <div class="requestText"> @ViewBag.details.VPN_accessEnd </div>
                        </td>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Manager Information</b></h4>

                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>Manager/Supervisor of VPN User</h5>
                            <div class="requestText"> @ViewBag.details.Manager </div>
                        </td>
                        <td class="form">
                            <h5>Date Submited</h5>
                            <div class="requestText"> @ViewBag.details.DateSubmitted </div>
                        </td>
                </table>
            </fieldset>
        </tbody>

    </table>

    <br />
    <a href="~/Portal/MyRequests" class="btn btn-default center">Back</a>
</div>