
@{
    ViewBag.Title = "ReviewRequestView";
}
<link rel="stylesheet" type="text/css" href="~/CSS/RequestStyle.css">


<div class="center fiftyPercent">
    <h1>Review Request - @ViewBag.id</h1>

    <table>
        <tbody>
            <fieldset>
                <legend class="aws">
                    <h4><b>Recipients Name</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>First Name</h5>
                            <input type="text" value="@ViewBag.details.VPN_recipientFirst" disabled />
                        </td>
                        <td class="form">
                            <h5>Last Name</h5>
                            <input type="text" value="@ViewBag.details.VPN_recipientLast" disabled />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Recipients Contact Information</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>Work Phone</h5>
                            <input type="text" value="@ViewBag.details.Work_Phone" disabled />
                        </td>
                        <td class="form">
                            <h5>Recipent Email</h5>
                            <input type="text" value="@ViewBag.details.VPN_recipientEmail" disabled />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>VPN User Department Information</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>User Department</h5>
                            <input type="text" value="@ViewBag.details.VPN_userDept" disabled />
                        </td>
                        <td class="form">
                            <h5>User Status Type</h5>
                            <input type="text" value="@ViewBag.details.VPN_userStatus" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td class="form">
                            <h5>User Code <span>*</span></h5>
                            <input type="text" value="@ViewBag.details.VPN_userCode" disabled />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Company Information</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>Company Name</h5>
                            <input type="text" value="@ViewBag.details.Company_Name" disabled />
                        </td>
                        <td class="form">
                            <div id="compform">
                                <h5>Company Other</h5>
                                <input type="text" value="@ViewBag.details.Company_Other" disabled />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="form">
                            <h5>Office Location</h5>
                            <input type="text" value="@ViewBag.details.Office_Location" disabled />
                        </td>
                        <td class="form">
                            <h5>Office Address</h5>
                            <input type="text" value="@ViewBag.details.Office_Address" disabled />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>VPN Machine Information</b></h4>
                </legend>
                <table>

                    <tr>
                        <td class="form">
                            <h5>Machine Owner</h5>
                            <input type="text" value="@ViewBag.details.Machine_Owner" disabled />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>VPN System Access and Approval Section</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="formtext">
                            <h5>Systems List</h5>
                            <textarea id="nonform" disabled>@ViewBag.details.Systems_List</textarea>
                        </td>
                        <td class="formtext">
                            <h5>VPN Justification</h5>
                            <textarea id="nonform" disabled> @ViewBag.details.VPN_justification</textarea>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Period for Requested Service Access</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>VPN Start Date</h5>
                            <input type="text" value="@ViewBag.details.VPN_accessStart" disabled />
                        </td>
                        <td class="form">
                            <h5>VPN End Date <span>*</span></h5>
                            <input type="text" value="@ViewBag.details.VPN_accessEnd" disabled />
                        </td>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Manager Information</b></h4>

                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>Manager/Supervisor of VPN User</h5>
                            <input type="text" value="@ViewBag.details.Manager" disabled />
                        </td>
                        <td class="form">
                            <h5>Date Submited</h5>
                            <input type="text" value="@ViewBag.details.DateSubmitted" disabled />
                        </td>
                </table>
            </fieldset>
        </tbody>

    </table>

    @using (Html.BeginForm("/ReviewRequest", "Portal", FormMethod.Post, new { id = "review" }))
    {
        <input type="hidden" name="id" value="@ViewBag.id" />
        <fieldset>
            <legend class="aws">
                <h4><b>Manager Review</b></h4>

            </legend>
            <table>
                <tr>
                    <h5>Please provide reason for approving or rejecting. </h5>
                    <td id="commentsBox">
                        @Html.TextArea("comments")
                    </td>

                </tr>
            </table>
            <table>
                <tr>
                    
                    <td class="buttons">
                        <input name="submit" class="btn btn-success" id="approve" type="submit" value="Approve" />
                    </td>
                    <td class="buttons">
                        <input name="submit" class="btn btn-danger" id="deny" type="submit" value="Deny" />
                    </td>

                </tr>
            </table>
        </fieldset>

        <a href="~/Portal/ReviewRequests" class="btn btn-default center">Back</a>

        <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
                <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

                <script>
                    $(document).ready(function () {
                        var submit;

                        $('#approve').click(function () {
                            $('#comments').val('                            ');
                            $('#review').validate().form();
                        });
                    });
                    jQuery.validator.setDefaults({
                        debug: false,
                        success: "valid"
                    });

                    $("#review").validate({
                        rules: {
                            comments: {
                                required: true,
                                rangelength: [20, 100]
                            }
                        },
                        messages: {
                            comments: {
                                required: "If you deny this request please provide comments",
                                rangelength: 'Please provide enough details of why it was denied'
                            }
                        }
                    });

                </script>
    }

    <br />

</div>
