
@{
    ViewBag.Title = "ReviewRequestView";
}
<link rel="stylesheet" type="text/css" href="~/CSS/RequestStyle.css">


<div class="center fiftyPercent">
    <h1>Review Request# @ViewBag.id</h1>

    <table class="table hoverTable">
        <tbody>
            <tr>
                <td><b>Request ID:</b></td>
                <td>@ViewBag.id</td>
            </tr>
            <tr>
                <td><b>Date Submitted:</b></td>
                <td>@ViewBag.details.DateSubmitted</td>
            </tr>
            <tr>
                <td><b>VPN Requestor:</b></td>
                <td>@ViewBag.details.VPN_requestor</td>
            </tr>
            <tr>
                <td><b>Full Name: </b></td>
                <td>@ViewBag.details.VPN_recipientFirst @ViewBag.details.VPN_recipientLast </td>
            </tr>
            <tr>
                <td><b>User Status Type:</b></td>
                <td>@ViewBag.details.VPN_userStatus</td>
            </tr>
            <tr>
                <td><b>User Department:</b></td>
                <td>@ViewBag.details.VPN_userDept</td>
            </tr>
            <tr>
                <td><b>Work Phone:</b></td>
                <td>@ViewBag.details.Work_Phone</td>
            </tr>
            <tr>
                <td><b>Recipent Email:</b></td>
                <td>@ViewBag.details.VPN_recipientEmail</td>
            </tr>
            <tr>
                <td><b>Company Name:</b></td>
                <td>@ViewBag.details.Company_Name</td>
            </tr>
            <tr>
                <td><b>Company Other:</b></td>
                <td>@ViewBag.details.Company_Other</td>
            </tr>
            <tr>
                <td><b>Office Location:</b></td>
                <td>@ViewBag.details.Office_Location</td>
            </tr>
            <tr>
                <td><b>Office Address:</b></td>
                <td>@ViewBag.details.Office_Address</td>
            </tr>
            <tr>
                <td><b>Machine Owner:</b></td>
                <td>@ViewBag.details.Machine_Owner</td>
            </tr>
            <tr>
                <td><b>Systems List:</b></td>
                <td>@ViewBag.details.Systems_List</td>
            </tr>
            <tr>
                <td><b>VPN Justification:</b></td>
                <td>@ViewBag.details.VPN_justification</td>
            </tr>
            <tr>
                <td><b>VPN Start Date:</b></td>
                <td>@ViewBag.details.VPN_accessStart</td>
            </tr>
            <tr>
                <td><b>VPN End Date:</b></td>
                <td>@ViewBag.details.VPN_accessEnd</td>
            </tr>
            <tr>
                <td><b>Manager:</b></td>
                <td>@ViewBag.details.Manager</td>
            </tr>



        </tbody>

    </table>


    @using (Html.BeginForm("/ReviewRequest", "Portal", FormMethod.Post, new { id = "review" }))
    {
        <input type="hidden" name="id" value="@ViewBag.id" />

        <table>
            <tr>
                <td>
                    <b>Comments: (Required if Deny)</b>
                    @Html.TextArea("comments")

                </td>
            </tr>
            <tr>
                <td>
                    <input name="submit" class="btn btn-success" id="approve" type="submit" value="Approve" />
                    <input name="submit" class="btn btn-danger" id="deny" type="submit" value="Deny" />
                </td>

            </tr>
        </table>
        <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
        <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

        <script>
            $(document).ready(function () {
                var submit;

                $('#approve').click(function () {
                    $('#comments').val('                            ');
                    $('#review').validate().form();
                });
            });
            jQuery.validator.setDefaults({
                debug: false,
                success: "valid"
            });

            $("#review").validate({
                rules: {
                    comments: {
                        required: true,
                        rangelength: [20, 100]
                    }
                },
                messages: {
                    comments: {
                        required: "If you deny this request please provide comments",
                        rangelength: 'Please provide enough details of why it was denied'
                    }
                }
            });

        </script>
    }
    
    <br/>
    <a href="~/Portal/ReviewRequests" class="btn btn-default center">Back</a>
</div>
