@model IT_product_log.Models.VpnRequest

@{
    ViewBag.Title = "Review Requests";
}
<script>
    $(document).ready(function () {
        $(function () {
            $("a.req-status").each(function () {
                if ($(this).text() == "Approved") $(this).addClass("btn-success btn-block");
                else if ($(this).text() == "Denied") $(this).addClass("btn-danger btn-block");
                else $(this).addClass("btn-warning btn-block");
            });
        });

        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });

        //displays the requested table.......
        $('li').click(function () {
            var newid = $('#selectedField').attr('name');
            var selectedid = $('#' + this.id).attr('name');
            if (!(newid === selectedid) && selectedid != '' ) {
                $('#selectedField').attr('id', 'req' + newid);
                $('section:visible').slideUp();
                $('#content' + selectedid).slideDown();
                this.id = 'selectedField';
            }
        });

    });

</script>


<link rel="stylesheet" type="text/css" href="~/CSS/RequestsStyle.css">



<header>
    <h1>Review Requests</h1>
    <nav>
        <ul>
            <li id="selectedField" name="Pending"><a href="Javascript:void(0)">Pending</a></li>
            <li id="reqAll" name="All"><a href="Javascript:void(0)">All Requests</a></li>
        </ul>
    </nav>
</header>
<section id="contentPending">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Request Type</th>
                <th scaope="col">Request ID</th>
                <th scaope="col">Requester name</th>
                <th scope="col">Date Submitted</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="hoverTable">
            <!-- Change the viewbag here -->
            @foreach (var item in ViewBag.list)
            {
                <tr class='clickable-row' data-href="/Portal/ReviewRequest/@item.VPN_requestID" title="Click Here To Review Request">
                    <td>VPN Access</td>
                    <td>@item.VPN_requestID</td>
                    <td>@item.VPN_recipientFirst @item.VPN_recipientLast</td>
                    <td>@item.DateSubmitted</td>
                    <td>
                        <a class="btn btn-primary" href="/Portal/ReviewRequest/@item.VPN_requestID" role="button">Click to Review Request</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    Pending should show --- remove after lists are implemented

</section>
<section id="contentAll" style="display: none;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Request Type</th>
                <th scaope="col">Request ID</th>
                <th scaope="col">Requester name</th>
                <th scope="col">Date Submitted</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="hoverTable">
            <!-- Change the viewbag here -->

            @foreach (var item in ViewBag.list)
            {
                <tr class='clickable-row' data-href="/Portal/ReviewRequest/@item.VPN_requestID"title="Click Here To Review Request">
                    <td>VPN Access</td>
                    <td>@item.VPN_requestID</td>
                    <td>@item.VPN_recipientFirst @item.VPN_recipientLast</td>
                    <td>@item.DateSubmitted</td>
                    <td>
                        <a class="btn btn-primary" href="/Portal/ReviewRequest/@item.VPN_requestID" role="button">Click to Review Request</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    All should show --- remove after lists are implemented

</section>