@model IT_product_log.Models.VpnRequest

@{
    ViewBag.Title = "Review Requests";
}
<script>
    $(document).ready(function () {
       // $(function () {
       //    $("a.req-status").each(function () {
       //         if ($(this).text() == "Approved") $(this).addClass("btn-success btn-block");
       //        else if ($(this).text() == "Denied") $(this).addClass("btn-danger btn-block");
       //         else $(this).addClass("btn-warning btn-block");
       //     });
       //});
        $("a.req-status:contains('Approved')").addClass("btn-success btn-block");
        $("a.req-status:contains('Pending')").addClass("btn-warning btn-block");
        $("a.req-status:contains('Rejected')").addClass("btn-danger btn-block");
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });

        //displays the requested table.......
        $('li').click(function () {
            var newid = $('#selectedField').attr('name');
            var selectedid = $('#' + this.id).attr('name');
            if (!(newid === selectedid) && selectedid != '' ) {
                $('#selectedField').attr('id', 'req' + newid);
                $('section:visible').slideUp();
                $('#content' + selectedid).slideDown();
                this.id = 'selectedField';
            }
        });

    });

</script>


<link rel="stylesheet" type="text/css" href="~/CSS/RequestsStyle.css">



<header>
    <h1>Review Requests</h1>

    <ul class="nav nav-tabs">
        <li id="selectedField" name="Pending"><a href="Javascript:void(0)" style="font-weight:bolder; font-size: 110%;">Pending</a></li>
        <li id="reqApproved" name="Approved"><a href="Javascript:void(0)" style="font-weight:bolder; font-size: 110%;">Approved</a></li>
        <li id="reqRejected" name="Rejected"><a href="Javascript:void(0)" style="font-weight:bolder; font-size: 110%;">Rejected</a></li>
    </ul>

</header>
<section id="contentPending">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th scope="col">Request Type</th>
                <th scope="col">Request ID</th>
                <th scope="col">Date Submitted</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="hoverTable">
            <!-- Change the viewbag here to pending requests -->
            @foreach (var item in ViewBag.ReviewPending)
            {
                <tr class="clickable-row" data-href="/Portal/ReviewRequest/@item.VPN_requestID">
                    <td>VPN Access</td>
                    <td>@item.VPN_requestID</td>
                    <td>@item.DateSubmitted</td>
                    <td width="30%"><a href="~/Portal/ReviewRequest/@item.VPN_requestID" class="btn bootstrap-button req-status">@item.VPN_requestStatus</a></td>
                </tr>
            }

        </tbody>
    </table>
</section>
<section id="contentApproved" style="display: none;">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th scope="col">Request Type</th>
                <th scope="col">Request ID</th>
                <th scope="col">Date Submitted</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="hoverTable">
            <!-- Change the viewbag here to approved requests -->
            @foreach (var item in ViewBag.ReviewApproved)
            {
                <tr class="clickable-row" data-href="/Portal/MyRequest/@item.VPN_requestID">
                    <td>VPN Access</td>
                    <td>@item.VPN_requestID</td>
                    <td>@item.DateSubmitted</td>
                    <td width="30%"><a href="~/Portal/MyRequest/@item.VPN_requestID" class="btn bootstrap-button req-status">@item.VPN_requestStatus</a></td>
                </tr>
            }

        </tbody>
    </table>
</section>
<section id="contentRejected" style="display: none;">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th scope="col">Request Type</th>
                <th scope="col">Request ID</th>
                <th scope="col">Date Submitted</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="hoverTable">
            <!-- Change the viewbag here to Rejected requests -->
            @foreach (var item in ViewBag.ReviewRejected)
            {
                <tr class="clickable-row" data-href="/Portal/MyRequest/@item.VPN_requestID">
                    <td>VPN Access</td>
                    <td>@item.VPN_requestID</td>
                    <td>@item.DateSubmitted</td>
                    <td width="30%"><a href="~/Portal/MyRequest/@item.VPN_requestID" class="btn bootstrap-button req-status">@item.VPN_requestStatus</a></td>
                </tr>
            }

        </tbody>
    </table>
</section>
<section id="contentAll" style="display: none;">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th scope="col">Request Type</th>
                <th scope="col">Request ID</th>
                <th scope="col">Date Submitted</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="hoverTable">
            <!-- Change the viewbag here to all requests -->
            @foreach (var item in ViewBag.ReviewAll)
            {
                <tr class="clickable-row" data-href="/Portal/MyRequest/@item.VPN_requestID">
                    <td>VPN Access</td>
                    <td>@item.VPN_requestID</td>
                    <td>@item.DateSubmitted</td>
                    <td width="30%"><a href="~/Portal/MyRequest/@item.VPN_requestID" class="btn bootstrap-button req-status">@item.VPN_requestStatus</a></td>
                </tr>
            }

        </tbody>
    </table>
</section>