
@{
    ViewBag.Title = "ReviewRequestView";
}
<link rel="stylesheet" type="text/css" href="~/CSS/RequestStyle.css">


<div class="center fiftyPercent">
    <h1>Review Request - @ViewBag.id</h1>

    <table>
        <tbody>
            <fieldset>
                <legend class="aws">
                    <h4><b>Recipients Name</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>First Name</h5>
                            <div class="requestText"> @ViewBag.details.VPN_recipientFirst </div>
                        </td>
                        <td class="form">
                            <h5>Last Name</h5>
                            <div class="requestText"> @ViewBag.details.VPN_recipientLast </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Recipients Contact Information</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>Work Phone</h5>
                            <div class="requestText"> @ViewBag.details.Work_Phone </div>
                        </td>

                        <td class="form">
                            <h5>Recipent Email</h5>
                            <div class="requestText"> @ViewBag.details.VPN_recipientEmail </div>
                        </td>
                    </tr>
                    @if (@ViewBag.details.Ext_code != 0)
                    {
                        <tr>
                            <td class="form">
                                <h5>Ext</h5>
                                <div class="requestText"> @ViewBag.details.Ext_code </div>
                            </td>
                        </tr>
                    }
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>VPN User Department Information</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>User Department</h5>
                            <div class="requestText"> @ViewBag.details.VPN_userDept </div>
                        </td>
                        <td class="form">
                            <h5>User Status Type</h5>
                            <div class="requestText"> @ViewBag.details.VPN_userStatus </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="form">
                            <h5>User Code</h5>
                            <div class="requestText"> @ViewBag.details.VPN_userCode </div>
                        </td>
                        @if (@ViewBag.details.VPN_userStatus != @ViewBag.details.Agency)
                        {
                            <td class="form">
                                <h5>Agency</h5>
                                <div class="requestText"> @ViewBag.details.Agency </div>
                            </td>
                        }
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Company Information</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>Company Name</h5>
                            <div class="requestText"> @ViewBag.details.Company_Name </div>
                        </td>
                        @if(@ViewBag.details.Company_Name != @ViewBag.details.Company_Other)
                        {
                        <td class="form">
                            <div id="compform">
                                <h5>Company Other</h5>
                                <div class="requestText">
                                    @ViewBag.details.Company_Other
                                </div>
                            </div>
                        </td>
                        }
                    </tr>
                    <tr>
                        <td class="form">
                            <h5>Office Location</h5>
                            <div class="requestText"> @ViewBag.details.Office_Location </div>
                        </td>
                        <td class="form">
                            <h5>Office Address</h5>
                            <div class="requestText"> @ViewBag.details.Office_Address </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>VPN Machine Information</b></h4>
                </legend>
                <table>

                    <tr>
                        <td class="form">
                            <h5>Machine Owner</h5>
                            <div class="requestText"> @ViewBag.details.Machine_Owner </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>VPN System Access and Approval Section</b></h4>
                </legend>
                <table>
                    <tr>
                        <td class="formtext">
                            <h5>Systems List</h5>
                            <textarea id="nonform" disabled>@ViewBag.details.Systems_List </textarea>
                        </td>
                        <td class="formtext">
                            <h5>VPN Justification</h5>
                            <textarea id="nonform" disabled> @ViewBag.details.VPN_justification </textarea>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="aws">
                    <h4><b>Manager Information</b></h4>

                </legend>
                <table>
                    <tr>
                        <td class="form">
                            <h5>Manager/Supervisor of VPN User</h5>
                            <div class="requestText"> @ViewBag.details.Manager </div>
                        </td>
                        <td class="form">
                            <h5>Date Submited</h5>
                            <div class="requestText"> @ViewBag.details.DateSubmitted </div>
                        </td>
                </table>
            </fieldset>
        </tbody>

    </table>

    @using (Html.BeginForm("/ReviewRequestIT", "Portal", FormMethod.Post, new { id = "review" }))
    {
        <input type="hidden" name="id" value="@ViewBag.id" />
        <fieldset>
            <legend class="aws">
                <h4><b>IT Manager Review</b></h4>

            </legend>
            <table>
                <tr>
                    <td class="form">
                        <h5>VPN Profile</h5>
                        <select id="VPN_Radius" name="VPN_Radius">
                            @foreach (var item in ViewBag.radiusSelector)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                    <td class="form">
                        <h5>VPN Profile Select</h5>
                        <input classname="checkboxP" type="checkbox" name="checkboxes" id='QTC' value="QTC"> QTC
                        <input classname="checkboxP" type="checkbox" name="checkboxes" id='Transcriber' value="Transcriber"> Transcriber
                        <label class="error" id="checkboxes-error" for="checkboxes" style="display: none;"></label>
                        <!-- The label above is a place holder for the error message -->

                    </td>
                </tr>
                <tr>
                    <td class="form">
                        <div id="VPNDiv" style="display: none;">
                            <h5>Other</h5>
                            <input type="text" name="VPN_Other" id="VPN_Other" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form">
                        <h5>VPN Start Date</h5>
                        <input type="text" id="VPN_accessStart" name="VPN_accessStart" value="@ViewBag.details.VPN_accessStart" />
                    </td>
                    <td class="form">
                        <h5>VPN End Date</h5>
                        <input type="text" id="VPN_accessEnd" name="VPN_accessEnd" value="@ViewBag.details.VPN_accessEnd" />
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    
                    <td id="commentsBox">
                        <h5>Please provide reason for approving or rejecting. </h5>
                        @Html.TextArea("comments")
                    </td>

                </tr>
            </table>

        </fieldset>
        <table>
            <tr>

                <td class="leftButtons" style="width:50%;">
                    <input name="submit" style="font-weight:bold; font-size: 110%;" class="btn btn-success buttonStyle" id="approve" type="submit" value="Approve" />
                </td>
                <td class="rightButtons" style="width:50%;">
                    <input name="submit" style="font-weight:bold; font-size: 110%;" class="btn btn-danger buttonStyle" id="deny" type="submit" value="Deny" />
                </td>

            </tr>
        </table>
        <br />
        <a href="~/Portal/ReviewRequests" class="btn btn-default center">Back</a>

        <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
        <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

        <script>
            $(document).ready(function () {
                var submit;

                $('#approve').click(function () {
                    $('#VPN_Radius').removeClass('error');
                    $('#VPN_Other').removeClass('error');
                    $('#comments').removeClass('error');
                    $('#review').removeData('validator');
                    $("#review").validate({
                        rules: {
                            VPN_Other: {
                                required: true
                            },
                            VPN_Radius: {
                                required: true
                            },
                            'checkboxes': {
                                required: true
                            }
                        },
                        messages: {
                            VPN_Other: {
                                required: "Please enter other VPN profile"
                            },
                            VPN_Radius: {
                                required: "Please select a VPN Profile"
                            },
                            'checkboxes': {
                                required: "Please select atleast one"
                            }
                        }

                    });
                });

                $('#deny').click(function () {
                    $('#VPN_Radius').removeClass('error');
                    $('#VPN_Other').removeClass('error');
                    $('#comments').removeClass('error');
                    $('#review').removeData('validator');
                    $("#review").validate({
                        rules: {
                            comments: {
                                required: true,
                                rangelength: [20, 100]
                            }
                        },
                        messages: {
                            comments: {
                                required: "If you deny this request please provide comments",
                                rangelength: 'Please provide enough details of why it was denied'
                            }
                        }

                    });
                });

                $("#VPN_Radius").on('change', function () {
                    if (this.value === 'Other') {
                        $('#VPN_Other').val('');
                        $('#VPNDiv').show();
                    } else {
                        $('#VPNDiv').hide();
                        $('#VPN_Other').val(this.value);
                    };
                });

                $(function () {
                    $("#VPN_accessStart").datepicker({
                        minDate: 0,
                        onSelect: function (dateText, inst) {
                            $("#VPN_accessEnd").datepicker("option", "minDate", $("#VPN_accessStart").datepicker("getDate"));
                        }
                    });
                });

                $("#VPN_accessEnd").datepicker();
            });
            jQuery.validator.setDefaults({
                debug: false,
                success: "valid"
            });



        </script>
    }

    <br />

</div>
