@model IT_product_log.Models.Model

@{
    ViewBag.Title = "AddItem";
}

<!DOCTYPE html>
<html lang="en">


<h4>Add Inventory</h4>
<hr />

<b>@Html.ValidationSummary("", new { @class = "text-danger" })</b>


<body>
    <div class="form-horizontal">

        @using (Html.BeginForm())
        {
            <table cellpadding="12" cellspacing="0" style="text-align:left">
                <tr>
                    <th><b>ID:</b></th>
                    <th>@ViewBag.id</th>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Code)</td>
                    <td>@Html.TextBoxFor(model => model.Code)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Category)</td>
                    <td>
                        <select name="category">
                            @foreach (var item in ViewBag.catList)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Name)</td>
                    <td>@Html.TextBoxFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Description)</td>
                    <td> @Html.TextBoxFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Create" /> </td>
                    <td></td>
                </tr>
            </table>

        }

    </div>
</body>


@Html.ActionLink("Back to List", "ViewInventory")


</html>
